border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

body
  overflow-x hidden

@media screen and (max-width: 600px)
  @import 'mobile.styl'

#optionsContainer 
  // background-color darkgrey
  // background #059

#statusContainer
  // background #0505

#pieContainer 
  // background-color #ff05

#timer
  background #0028
  margin-top 15px
  height 50px
  border-radius 5px

// tiles
.status-tile
  width 100px
  height 40px
  background #c4c8cf
  border-radius 5px
  display flex
  flex-direction row
  justify-content center
  align-items center

  &:first-child
    margin-bottom 15px
  
  & p
    display none
  & i
    opacity 0.1
    margin-right 15px
  
  &.active-tile
    width 300px
    height 120px
    background #68c7f2
    & p
      display initial
      font-size 20px
    & i 
      opacity 1