$pieColor = #9051cf
$bg-color = #424242
$hl-color = #2196F3
$width = 300px

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

body
  overflow-x hidden

@media screen and (max-width: 600px)
  @import 'mobile.styl'

#optionsContainer 
  display flex
  flex-direction column
  align-items center
  justify-content space-between

  & .darkMode
    width 100%
  
  & .timerValues
    display flex
    flex-direction column
    justify-content end
    align-items center
    
    & div
      margin 15px 0
        
  & .timerOptions
    width 100%
    & button 
      width 60px
      height 60px
      border-radius 100%
      background $pieColor
      color #fff
      border 2px solid #552387
      cursor pointer
  

#timer
  margin-top 15px
  height 50px
  border-radius 5px
  display flex
  justify-content center
  align-items center

  & label
    font-size 30px
    font-weight lighter
    font-family Helvetica

.nobreak
  overflow hidden
  text-overflow ellipsis
  white-space nowrap